<div class="list row white-text">
  <div class="col-md-6">
    <h4 class="white-text">Lista de Despesas</h4>

    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <th>VALOR</th>
          <th>DESCRIÇÃO</th>
          <th>TIPO DESPESA</th>
          <th>DATA</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let despesa of despesaList; let i = index"
          [class.table-active]="i == currentIndex"
          (click)="setActiveTutorial(despesa, i)"
          style="cursor: pointer"
        >
          <td>{{ despesa.valor | currency: 'BRL' }}</td>
          <td>{{ despesa.descricao }}</td>
          <td>{{ despesa.tipoDespesa?.descricao }}</td>
          <td>{{ despesa.dataLancamento?.toDate() | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <div *ngIf="despesaAtual">
      <app-detalhe-extrato
        (refreshList)="refreshList()"
        [despesa]="despesaAtual"
      ></app-detalhe-extrato>
    </div>

    <div *ngIf="!despesaAtual" class="white-text">
      <br />
      <p>Por favor clique em uma despesa...</p>
    </div>
  </div>
</div>
