<div class="container contact white-text">
  <h5>Cadastro de Fonte de Renda</h5>
  <br /><br />

  <div class="row">
    <form class="col s12" (submit)="onSubmit()"><!-- Event Binding-->
      <div class="row white-text">
        <div class="input-field col s12">
          <input
            id="input-descricao"
            name="input-descricao"
            type="text"
            [(ngModel)]="this.descricao"
            required
            class="white-input-text"/><!-- Two Way Data Binding-->
          <label for="input-descricao" class="active white-text"
            >Descricao da renda</label
          >
        </div>
      </div>
      <div class="row white-text">
        <div class="input-field col s12">
          <input
            id="input-valor"
            name="input-valor"
            type="text"
            class="validate money white-text"
            [(ngModel)]="this.valor"
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$ "
            [dropSpecialCharacters]="true"
            [showMaskTyped]="false"
          />
          <label for="input-valor" class="active white-text"
            >Valor da renda
          </label>
        </div>
      </div>
      <button
        class="btn waves-effect waves-light primary-collor darken-4"
        type="submit"
        [disabled]="!isFormValid()"> <!-- Property Binding-->
        Lançar
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>

  <div color="white">
    <p>
      ObjetoPreenchido: {{ this.fonteRenda.valor }} - {{ this.fonteRenda.descricao}}<!--Interpolation-->
    </p>
  </div>
</div>
