<!-- intro -->
<div>
  <h1 class="grey-text text-lighten-5">EDUCADOR FINANCEIRO APP</h1>
  <h4 class="grey-text text-lighten-5">SUA VIDA FINANCEIRA + SAUDAVEL!</h4>
</div>
<!-- intro -->
<div class="container about">
  <!-- painel login -->
  <div id="painel-login" class="row" [hidden]="this.loggedIn">
    <div class="col s12 m6 offset-m3">
      <a routerLink="/login">
        <div
          id="botao-login"
          class="card-panel primary-collor accent-4 center my-card-button"
        >
          <span class="white-text flow-text"> LOGIN </span>
        </div>
      </a>
    </div>
  </div>
  <!-- fim painel login -->
</div>
