.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
  }
  
  /*
  .ng-invalid.ng-pristine:not(form) {
    border-left: 5px solid #a94442;
  }
  */
  
  .ng-valid:not(form) {
    border-left: 5px solid #42a948;
  }
  
/* Estiliza os itens do dropdown gerado pelo Materialize */
.dropdown-content li > span {
  color: black !important;
}