<app-modal [show]="modal.show" [content]="modal" (closeEvent)="onCloseModal()">
</app-modal>
<div class="container contact white-text">
  <h4 class="grey-text text-lighten-5">Lancar despesa</h4>
  <br /><br />
  <div class="row">
    <form class="col s12" (submit)="onSubmit()">
      <!-- Event Binding-->
      <div class="row white-text">
        <div class="input-field col s12">
          <input
            id="input-descricao"
            name="input-descricao"
            type="text"
            [(ngModel)]="this.descricao"
            required
            class="white-input-text"
          /><!-- Two Way Data Binding-->
          <label for="input-descricao" class="active white-text"
            >Descricao</label
          >
        </div>
      </div>
      <div class="row white-text">
        <div class="input-field col s12">
          <input
            id="input-valor"
            name="input-valor"
            type="text"
            class="validate money white-text"
            [(ngModel)]="this.valorDigitado"
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$ "
            [dropSpecialCharacters]="true"
            [showMaskTyped]="false"
          />
          <label for="input-valor" class="active white-text">Valor </label>
        </div>
      </div>
      <div class="row white-text">
        <div class="input-field col s12">
          <input
            id="input-date"
            name="input-date"
            type="text"
            class="validate money white-text"
            mask="00/00/0000"
            placeholder="dd/MM/yyyy"
            [(ngModel)]="this.dataLancada"
          />
          <label for="input-date" class="active white-text"
            >Data Lançamento
          </label>
        </div>
      </div>
      <button
        class="btn waves-effect waves-light primary-collor darken-4"
        type="submit"
        [disabled]="!isFormValid()"
      >
        <!-- Property Binding-->
        Lançar
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
  <div color="white">
    <p>
      ObjetoPreenchido: {{ this.valorLancado }} - {{ this.descricao }}- {{ this.dataLancada }}<!--Interpolation-->
    </p>
  </div>
  <h5>TOTAL MINHA RENDA COMPROMETIDA</h5>
  <app-situacao-saldo
    #balance
    [value]="this.valorSaldo"
    [valorLancado]="this.valorLancado"
    (donationEvent)="onRendaComprometidaEvent($event)"
  ></app-situacao-saldo>
</div>
